//	Tipografia

//	Variáveis

:root {
    //	cores - geral
    --color-1: #5E6282;
    --color-2: #14183E;
    --color-3: #212832;
    --color-4: #DF6951;
    --color-5: #DFD7F99;
    --color-6: #DFD7F9;

    //	cores - contact form 7
    --red-cf7: #f44336;
    --green-cf7: #8bc34a;
    --gray-cf7: #c5c5c5;

    //	fontes
    --font-1: 'Volkhov', serif;
}

// Recaptcha
.grecaptcha-badge {
    display: none;
}

//	Geral

html {
    overflow-x: hidden;

    body {
        /* não remover daqui pra baixo */
        min-height: 100vh;
        overflow-x: hidden;
        /* não remover daqui pra cima */
    }


    .mobile-only {
        @media(min-width: 992px) {
            display: none !important;
        }
    }

    .desktop-only {
        @media(max-width: 991px) {
            display: none !important;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// Container

.container {
    width: 100%;
    margin: 0 auto;
    /* Centraliza o container */
    padding: 0 15px;
    /* Adiciona espaçamento interno para o conteúdo */

    @media (min-width: 576px) {
        /* Extra pequeno (sm) */
        max-width: 540px;
    }

    @media (min-width: 768px) {
        /* Pequeno (md) */
        max-width: 720px;
    }

    @media (min-width: 992px) {
        /* Médio (lg) */
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        /* Grande (xl) */
        max-width: 1180px;
    }
}

// Header


.header-content {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;


    div {
        ul {
            display: flex;
            gap: 60px;
            list-style: none;
            li {
                color: var(--1st, #212832);
                font-family: "Poppins";
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

}
