
.hero-holder{
    display: flex;
    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        span {
            color: var(--color-4);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    
        h1 {
            color: #181E4B;
            font-family: Volkhov;
            font-size: 84px;
            font-style: normal;
            font-weight: 700;
            line-height: 89px;
            letter-spacing: -3.36px;
        }
    
        p {
            color: var(--color-1);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }
}